[submodule "360VOT"]
	path = 360VOT
	url = git@github.com:HuajianUP/360VOT.git
[submodule "AiATrack"]
	path = AiATrack
	url = https://github.com/Little-Podi/AiATrack.git
[submodule "KernelTransformerNetwork"]
	path = KernelTransformerNetwork
	url = git@github.com:sammy-su/KernelTransformerNetwork.git
